*{
	padding:0;
	margin:0;
	font-family: 'Heebo', sans-serif;
}/*Univesal tag to avoid unnecessary trouble*/
.hero-section{
	background-image:url(https://i.travelapi.com/hotels/2000000/1850000/1847200/1847179/8b6a61c4_z.jpg);
	height:100vh;
	bacground-size:cover;
    background-blend-mode:overlay;
    background-color:rgba(0, 0, 0, 0.5);/*for opicity (red,green,blue,alpha)alpha is the oicity value*/
    position:relative;/*we are relating hero-text to this as it is a child of hero-section*/
    text-align:center;
}
.hero-text{
	color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);/*transform is used dto change the element and translae is used to modulate the X and Y axis*/
}
.book{
	background-color:blue;
	color:white;
	border:none;
	border-radius:50px;
	padding:10px 10px 10px 10px;
	margin-top:10px;
	cursor: pointer;/*to make the arow as a poiner hand*/
}
.about-text{
		float:left;
		width:50%;
		margin-left:10px;
		text-align: center;
}
.about-us>h1{
	text-align: center;
	margin:10px;
	text-decoration:underline red;
}
.Know-More{
	background-color:blue;
	color:white;
	border:none;
	border-radius:10px;
	padding:10px 10px 10px 10px;
	cursor:pointer;
}
.amenities{
	text-align:center;
}
.amenities ul{
	margin-top:5px;
	display: inline-block;/* to move the dots of ul and to avoid overlapping*/
	text-align: left;
}
